<!DOCTYPE html>
<html>
<head>
    <title>Upload Form</title>
</head>
<body>
    <h2>Upload Form</h2>
    <form action="/api/submit" method="post" enctype="multipart/form-data">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required><br><br>
        
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required><br><br>
        
        <label for="photo">Upload Photo:</label>
        <input type="file" id="photo" name="photo" accept="image/*" required><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
